* {
	font-family: "Lucida Console", Monospace, monospace;
	background-color: #b3b3b3;
}

/* #loginbody { */
	/* height: 5em; */
	/* margin: auto; */
	/* width: 50%; */
	/* border: 3px solid green; */
/* } */

fieldset {
	width: 30%;
	margin: auto;
	margin-top: 40px;

}

h1 {
	text-align: center;
}

.demoButton {
	width: 5em;
	background-color: #555555; color: white;
	padding: 5px 5px;
	margin-top: 9px;
}
.demoButton:hover {
	transition-duration: 0.4s;
	cursor: pointer;
	background-color: #b3b3b3; color: black;
	border-color: black;
	
}